
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media screen and (max-width: 1120px) {
  .container-upper, .container-middle, .container-down, .container-down-2, .container-footer{
    display: none;
  }
}
@media screen and (min-width: 1120px) {
  .hide {
    display: none;
  }
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
}
